body{
	max-width: 960px;
	position: relative;
	margin: auto;
}
form{
	

}



#name1 {    
	text-transform capitalize;
	width: 28%;
	margin: 3% 1% 0 6%;
}

#name2 {    
	text-transform capitalize;
	width: 28%;
	margin: 3% 1% 0 1%;
}

#name3 { 
	text-transform capitalize;   
	width: 28%;
	margin: 3% 1% 0 1%;
}

#num {    
	width: 22%;
	margin: 3% 0 0 38.5%;
}


#files{
	resize: none;
	width: 75%;
	margin: 3% 0 0 12%;
	padding-bottom: 20%;
} 
#file{
	width: 75%;
	margin: 3% 0 0 12%;
	padding-bottom: 20%;
} 
#comments{
	resize: none;
	width: 75%;
	margin: 3% 0 0 12%;
	padding-bottom: 10%;
} 

#sent{
	width: 10%;
	margin: 3% 0 0 45%;
}


#accessLavel{
	width: 50%;
	margin: 3% 0 0 25%;
}

#Errors{
	border: 1px solid black;
 	overflow-y: scroll;
	width: 50%;
	height: 300px;	
	margin: 3% 0 0 25%;
}
#Ok{
	border: 1px solid black;
	overflow-y: scroll;
	width: 50%;
	height: 300px;	
	margin: 3% 0 0 25%;
}
#Users{
	display: inline-block;
	width: 48%;
	resize: none;
}
#Codes{
	display: inline-block;
	width: 48%;
	resize: none;
}
p{
	width: 50%;
	margin: 3% 0 0 25%;
}
#start{
	float: left;
	width: 22%;
	margin: 3% 0 3% 25%;
	border: gray solid 1px;
}
#end{
	float: left;
	width: 22%;
	margin: 3% 0 3% 6%;
	border: gray solid 1px;
}
#link{
  	float: left;
 	width: 37%;
	margin: 3% 0 0 25%;
}
#password{
   	float: left;
  	width: 40%;
	margin: 3% 0 0 25%;
}
#test{
  	float: left;
   	width: 10%;
	margin: 3% 0 0 3%;
}
#video{
  	  position: relative;
   	float: left;
	width: 50%;
	margin: 3% 0 0 25%;
	padding-bottom: 28%;
}
iframe{
	position: absolute;
  	  width: 100%;
   	 height: 100%;
}
#add{
	float: left;
  	width: 10%;
    	margin: 3% 0 3% 45%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('load.gif') 
                50% 50% 
                no-repeat;
}
body.loading .modal {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}